<div class="user-form" style="padding:20px; padding-right:40px;">
    <form class="layui-form" id="form">
        <div class="layui-form-item">
            <label class="layui-form-label">账户</label>
            <div class="layui-input-block">
                <input type="text" class="layui-input" name="username">
            </div>
        </div>
        <div class="layui-form-item">
            <label  class="layui-form-label">密码</label>
            <div class="layui-input-block">
                <input type="text" class="layui-input" name="pwd">
            </div>
        </div>
        <div class="layui-form-item" style="text-align: center">
            <a class="layui-btn" onclick="userFormSubmit()">提交</a>
            <button class="layui-btn layui-btn-danger" type="reset">重置</button>
        </div>
    </form>
</div>